<!doctype html>
<html>
  <head>
    <title>Extension example</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="module" src="../js/options.js"></script>
  </head>

  <body>
    <section id="flex-container">
        <section class="card" id="form_browser_components" >

            <section>
                <label>Choose a component</label>
                <select id="browser_components" class="browser-default">
                </select>
            </section>
            
            <section>
                <label>Choose a method</label>
                <select id="browser_methods" class="browser-default">
                </select>
            </section>

            <section id="additional_options">
            </section>

            <section class="to-button">
              <button id="button_browser_components" class="btn blue-gradient btn-rounded">run</button>
            </section>
        </section>
    </section>
  </body>
</html>